################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/EscolaIdiomas/FileContentIndex/00a715c8-9311-453f-8ffd-13d98150e7b3.vsidx
/.vs/EscolaIdiomas/DesignTimeBuild/.dtbcache.v2
/.vs/EscolaIdiomas/FileContentIndex/c04f8758-e175-453e-adcf-d030379f289d.vsidx
