################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/EscolaIdiomas/FileContentIndex/00a715c8-9311-453f-8ffd-13d98150e7b3.vsidx
/.vs/EscolaIdiomas/DesignTimeBuild/.dtbcache.v2
/.vs/EscolaIdiomas/FileContentIndex/c04f8758-e175-453e-adcf-d030379f289d.vsidx
# Arquivos de build
bin/
obj/
*.dll
*.exe
*.pdb

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de logs e temporários
*.log
*.tmp

# Configuração do IDE
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Diretório do Teste
TestResults/

# Ignorar pastas e arquivos gerados
Escoladiomas/v17/TestStore/
Escoladiomas/v17/ProjectEvaluation/
Escoladiomas.Api/bin/
Escoladiomas.Api/obj/

# Ignorar arquivos específicos
Escoladiomas/v17/TestStore/testlog.manifest
Escoladiomas/v17/TestStore/.suo
Escoladiomas/v17/TestStore/DocumentLayout.json
