<div class="container mt-4">
  <div class="card shadow-lg p-4">
    <h1 class="text-center mb-4">Gerenciar Matrículas</h1>

    <!-- Mensagens de Sucesso e Erro -->
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage
      }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage
      }}</div>

    <!-- Formulário para Nova Matrícula -->
    <div class="mb-4">
      <h5 class="mb-3">Cadastrar Nova Matrícula</h5>
      <form (ngSubmit)="createMatricula()">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="aluno" class="form-label">Selecione o Aluno</label>
            <select
              id="aluno"
              class="form-select"
              [(ngModel)]="matricula.alunoId"
              name="alunoId"
              required>
              <option [value]="0" disabled>Selecione um aluno</option>
              <option *ngFor="let aluno of alunos" [value]="aluno.id">
                {{ aluno.nome }}
              </option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="turma" class="form-label">Selecione a Turma</label>
            <select
              id="turma"
              class="form-select"
              [(ngModel)]="matricula.turmaId"
              name="turmaId"
              required>
              <option [value]="0" disabled>Selecione uma turma</option>
              <option *ngFor="let turma of turmas" [value]="turma.id">
                {{ turma.nome }}
              </option>
            </select>
          </div>
        </div>
        <button class="btn btn-primary mt-3" type="submit">Salvar
          Matrícula</button>
      </form>
    </div>

  </div>
</div>
